.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #ffffff;
	border-bottom: 1px solid #ccc;
}

.logo img {
	max-width: 100px;
	height: auto;
}

.header h1 {
	margin: 0;
}

.user p {
	margin: 0;
}