<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑몰 메인 페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <style>
        /* 스타일링 예시 */
        h1 {
            border-radius: 15px;
            padding: 10px;
            display: inline-block;
        }

        #banner {
            width: 100%;
            height: 350px;
            background-color: #f0f0f0;
            background-size: cover;
            background-position: center;
            overflow: hidden;
        }

        #banner img {
            width: 100%;
            height: auto;
        }

        #product-list {
            margin-top: 20px;
        }

        .product-item {
            width: 200px;
            height: 300px;
            border: 1px solid #ccc;
            margin-right: 20px;
            display: inline-block;
            vertical-align: top;
        }

        #banner img {
            width: 100%;
            height: auto;
            display: block;
        }

    </style>
</head>
<body>
<div class="header" style="position:relative;">
    <img src="/img/image.png" alt="로고" style="position:absolute; top:25px; left:0; cursor:pointer;" width="120" height="100" onclick="window.location.href='/'">
    <div id="login-true" style="display: none">
        <div id="header-title-login-user">
            <span id="welcome-message"></span>
        </div>

        <div id="header-title-select-shop">
            Market Hub
        </div>
        <a style="margin-right: 30px;" id="sign-text" href="/api/user/mypagePage">
            마이페이지
        </a>
        <a id="login-text" href="javascript:logout()">
            로그아웃
        </a>
        <a href="#" onclick="goCart();" style="margin-right: 140px;" id="sign-text">
            장바구니
        </a>
    </div>

    <div id="login-false" >
        <div id="header-title-select-shop">
            Market Hub
        </div>
        <a id="sign-text" href="">
            장바구니
        </a>
        <a id="sign-text" href="#" onclick="goCart();">
            장바구니
        </a>
        <a id="login-text" href="/api/user/loginFormPage">
            로그인
        </a>
    </div>
</div>
<!--<h1>COPANG</h1>-->
<hr>
<!-- 검색 버튼 -->
<!--<div id="search-bar">-->
<!--  <input type="text" placeholder="검색어를 입력하세요">-->
<!--  <button>검색</button>-->
<!--</div>-->
<div class="input-group mb-3" style="width: 40%; margin-left: 450px;">
    <input type="text" id="searchInput" class="form-control" placeholder="카테고리를 입력하세요">
    <button class="btn btn-outline-primary" id="searchButton" type="button">검색</button>
</div>

<!-- 움직이는 배너 -->
<div id="banner">
<!--    <img src="/img/banner1.jpg" alt="Banner 1">-->
<!--    <img src="/img/banner2.jpg" alt="Banner 2" style="display:None">-->
<!--    <img src="/img/banner3.jpg" alt="Banner 3" style="display:None">-->
</div>
<hr>
<!-- 페이지 버튼 -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:class="${itemPage.first ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/?page=0'}" aria-label="Previous">First</a>
                    </li>
                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, itemPage.totalPages - 1)}">
                        <a class="page-link" th:href="@{'/?page=' + ${pageNum}}" th:text="${pageNum + 1}"></a>
                    </li>
                    <li class="page-item" th:class="${itemPage.last ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/?page=' + ${itemPage.totalPages - 1}}" aria-label="Next">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div style="float: left;">
    <button onclick="sendGetRequest()">이벤트 요청</button>
</div>

<!-- 아이템 목록을 표시할 위치 -->
<div class="container">
    <div class="row">
        <div class="col-md-4" th:each="item : ${itemPage.content}">
            <div class="card">
                <img th:if="${not #lists.isEmpty(item.pictureUrls)}" th:src="${item.pictureUrls[0]}" alt="Menu Image" style="width: 334px; height: 300px;">
                <img th:unless="${not #lists.isEmpty(item.pictureUrls)}" src="기본 이미지 경로" alt="No Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.itemName}"></h5>
                    <h5 id="price[[${itemStat.index}]]" th:text="'₩' + ${item.price}" style="margin-top: 10px; color: red;"></h5>
                    <a class="btn btn-info store-link" th:href="@{/api/items/{itemId}(itemId=${item.id})}" style="margin-top: 20px; background-color: #ffffff; border: 1px solid #007bff; color: #007bff; padding: 10px 15px;">상품 정보 보기</a>
                </div>
            </div>
        </div>
    </div>
</div>


<hr>

<script>
    function sendGetRequest() {
        fetch("/api/event/schedule")
            .then(response => {
                if (response.ok) {
                   alert("이벤트 등록 완료")
                }
            })
            .then(data => {
                console.log("Request succeeded!", data);
            })
    }
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var eventTime = /*[[${eventTime}]]*/ null;  // 동적으로 설정하려는 메뉴 ID

    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    // 페이지 로드시 실행
    window.onload = function() {
        console.log(eventTime)
        var banner = document.getElementById('banner');
        if (eventTime != null && banner && (eventTime <= getCurrentTime())) {
            var newImg = document.createElement('img');
            newImg.src = "/img/eventBanner.PNG";
            newImg.alt = "Banner 4";
            banner.appendChild(newImg);
            newImg.onclick = function() {
                window.location.href = "/api/event";
            };
        }
    };
    /*]]>*/

    function getCurrentTime() {
        var now = new Date();
        var hour = now.getHours();
        var minute = now.getMinutes();
        var second = now.getSeconds();

// 시간, 분, 초가 한 자리 숫자일 경우 앞에 0을 붙여 두 자리로 만듭니다.
        hour = (hour < 10 ? "0" : "") + hour;
        minute = (minute < 10 ? "0" : "") + minute;
        second = (second < 10 ? "0" : "") + second;

        var formattedTime = hour + minute + second;
        console.log(formattedTime);
        return formattedTime;
    }
</script>

<script>
    function goCart() {
        var cookie = document.cookie.substring(0, 13);
        var cartUrl;

        if (cookie === "Authorization") {
            cartUrl = "/api/carts";
        } else {
            cartUrl = "/api/carts/nouser/getAll";
        }

        window.location.href = cartUrl;
    }
</script>



<script>
    // 움직이는 배너 구현 예시
    let images = document.querySelectorAll('#banner img');
    let currentIndex = 0;
    let interval = setInterval(changeImage, 3000);

    function changeImage() {
        images[currentIndex].style.display = 'none';
        currentIndex = (currentIndex + 1) % images.length;
        images[currentIndex].style.display = 'block';
    }
</script>

<script>
    // 각각의 가격 요소에 대해 처리
    var prices = document.querySelectorAll('[id^="price"]');
    prices.forEach(function(priceElem) {
        // 상품 가격 가져오기
        var price = priceElem.innerText;

        // 가격을 1000 단위로 구분하여 쉼표 추가
        var formattedPrice = price.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        // 결과를 HTML 요소에 설정
        priceElem.innerText = formattedPrice;
    });
</script>

<script>
    $('#searchButton').click(function () {
        var itemName = $('#searchInput').val();
        var url = '/api/items/itemName?keyword=' + encodeURIComponent(itemName);
        location.href = url;

    });
    </script>
<!--<script>-->
<!--    $('#searchButton').click(function () {-->
<!--        var itemName = $('#searchInput').val();-->
<!--        var url = '/api/items/itemName?itemName=' + encodeURIComponent(itemName);-->

<!--        fetch(url)-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--                // 이전에 표시된 상품 카드를 모두 삭제-->
<!--                $('.row').empty();-->

<!--                // 새로운 상품 데이터를 받아와서 화면에 추가-->
<!--                data.forEach(item => {-->
<!--                    var cardHtml = `-->
<!--            <div class="col-md-4">-->
<!--              <div class="card">-->
<!--                <img src="${item.pictureUrls.length > 0 ? item.pictureUrls[0] : '기본 이미지 경로'}" alt="Menu Image" style="width: 334px; height: 300px;">-->
<!--                <div class="card-body">-->
<!--                  <h5 class="card-title">${item.itemName}</h5>-->
<!--                  <h5 class="card-price">₩${item.price}</h5>-->
<!--                  <a href="/api/items/${item.id}" class="btn btn-info store-link" style="margin-top: 20px; background-color: #ffffff; border: 1px solid #007bff; color: #007bff; padding: 10px 15px;">상품 정보 보기</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          `;-->

<!--                    $('.row').append(cardHtml);-->
<!--                });-->
<!--            })-->
<!--            .catch(error => console.error('Error fetching data:', error));-->
<!--    });-->
<!--</script>-->
<script>
    let host = 'http://' + window.location.host;

    document.addEventListener('DOMContentLoaded', function () {
        const auth = getToken();
        if (auth === '') {
            document.getElementById('login-true').style.display = 'none';
            document.getElementById('login-false').style.display = 'block';
        } else {
            document.getElementById('login-true').style.display = 'block';
            document.getElementById('login-false').style.display = 'none';
            // 사용자 이름 표시
            displayUsername();
        }
    });

    function displayUsername() {
        // 토큰 가져오기
        let token = getToken();

        // Fetch API를 사용하여 사용자 정보 가져오기
        fetch('/api/user/info', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch user information');
                }
                return response.json();
            })
            .then(data => {
                // 사용자 이름 표시
                document.getElementById("welcome-message").textContent = data.username + "님 환영합니다.";
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function logout() {
        // 토큰 삭제
        Cookies.remove('Authorization', { path: '/' });
        window.location.href = host + "/";
    }

    function getToken() {
        let auth = Cookies.get('Authorization');

        if(auth === undefined) {
            return '';
        }

        return auth;
    }
</script>

</body>
</html>