<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<div id="login-form">
    <div id="login-title">Log into MarketHub</div>
    <br>
    <br>
    <button id="login-id-btn" onclick="location.href='/api/user/signupPage'">
        회원 가입하기
    </button>
    <form th:action="@{/api/user/login(url=${url})}" method="post" onsubmit="return validateForm()">
        <div>
            <div class="login-id-label">아이디</div>
            <input type="email" name="email" id="email" class="login-input-box">

            <div class="login-id-label">비밀번호</div>
            <input type="password" name="password" id="password" class="login-input-box">
            <div id="login-failed" style="display:none; color: red">아이디 또는 비밀번호를 확인해주세요. </div>
            <button id="login-id-submit" type="submit">로그인</button>
        </div>
    </form>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("DOM 로드 완료");
        document.cookie = 'Authorization=; path=/; Expires=Thu, 01 Jan 1970 00:00:00 GMT';

        const host = 'http://' + window.location.host;

        const href = location.href;
        const queryString = href.split('?')[1]; // '?'를 기준으로 문자열을 나누고, 나눠진 두 번째 요소를 선택합니다.
        if (queryString === 'error') {
            alert("아이디 또는 비밀번호를 확인하세요");
            const errorDiv = document.getElementById('login-failed');
            errorDiv.style.display = 'block';
        }
    });

    function validateForm() {
        // 이 함수는 로그인 폼을 유효성 검사하고, 유효하지 않은 경우 메시지를 표시합니다.
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        if (email === "" || password === "") {
            document.getElementById("login-failed").style.display = "block";
            return false; // 폼 제출 방지
        }
        return true; // 유효한 경우 폼 제출 허용
    }
</script>
</html>