<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>회원가입 페이지</title>

</head>
<body>
<div id="login-form">
	<div id="login-title">Sign up Select Shop</div>

	<form id="signup-form">
		<div class="login-id-label">Username</div>
		<input type="text" name="username" id="username" placeholder="Username" class="login-input-box">

		<div class="login-id-label">Password</div>
		<input type="password" name="password" id="password" class="login-input-box">

		<div class="login-id-label">phone</div>
		<input type="text" name="phone" id="phone" placeholder="phone" class="login-input-box">

		<div class="login-id-label">address</div>
		<input type="text" name="address" id="address" placeholder="address" class="login-input-box">

		<div class="login-id-label">E-mail</div>
		<input type="text" name="email" id="email" placeholder="E-mail" class="login-input-box">

		<div>
			<input id="admin-check" type="checkbox" name="admin" onclick="onclickAdmin()" style="margin-top: 40px;">관리자
			<input id="admin-token" type="password" name="adminToken" placeholder="관리자 암호" class="login-input-box" style="display:none">
		</div>
		<button id="login-id-submit" type="button" onclick="onSubmit()">회원 가입</button>
	</form>
</div>

<script>
	function onclickAdmin() {
		// Get the checkbox
	  var checkBox = document.getElementById("admin-check");
	  // Get the output text
	  var box = document.getElementById("admin-token");

		// If the checkbox is checked, display the output text
		if (checkBox.checked == true){
			box.style.display = "block";
		} else {
			box.style.display = "none";
		}
	}

</script>

<script>
	function onSubmit() {
		var userData = {
			email: document.getElementById('email').value,
			password: document.getElementById('password').value,
			name: document.getElementById('username').value,
			phone: document.getElementById('phone').value,
			address: document.getElementById('address').value,
		};

		fetch('/user/signup', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(userData)
		})
			.then(response => {
				if (response.ok) {
					alert("회원 가입 완료");
					window.location.href = '/api/user/login-page';
				} else {
					// 처리 실패 시 작업
				}
			})
	}
</script>
</body>
</html>
